html(lang="en")
 head
  title = "Gideon Jones User Manager"
 body
  h1(class = 'myClass', id = "myId") Pug - Node Template Engine
  p.myClass.secondClass#myId This is #{message}
  ul
    each username in users
      li 
        a(href=`/users/${username}`) #{username}
  include foot.pug